.biography_section {
  display: flex;
  align-items: center;
  padding-top: 144px;
  position: relative;
  gap: 73px;
  .biography_left{
    img{
      width: 420px;
    }
  }
  .biography_right {
    padding: 48px 80px 48px 160px;
    background: $bac-hero;
    position: absolute;
    right: 20px;
    z-index: -1;
  }
  p {
    font-size: 18px;
    color: $text-color;
    line-height: 120%;
    max-width: 731px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .biography_right_button {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;

    .biography_right_text {
      h5 {
        font-size: 20px;

        font-weight: 500;
        line-height: 120%;
      }
      img {
        width: 157px;
        padding-top: 10px;
      }
    }
    .biography_right_icon {
      display: flex;
      gap: 16px;
      align-items: center;
    }
  }
}
